@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
    margin:0px;
    box-sizing: border-box;
    /* background: rgba(255,0,0,0.1);
    border:0.1px solid red; */
}
html{
    width:100%;
    height:100%;
}
body{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display: flex;
    align-content: center;
    justify-content: center;
}

/*specific*/
.todo-container{
    display: flex;
    margin-top:5rem;
    width:30%;
    background-color: rgba(255,255,255,1);
    height:500px;
    border-radius: 5px;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    flex-direction: column;
    align-content: space-around;
}
.todo-container h2{
    text-align:center;
    padding-top:20px;
    font-family: 'Josefin Sans', sans-serif;
    color:rgba(0,0,0,0.6);
}
.todo-list {
    list-style-type: none;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    padding:0px;
    overflow-y:scroll;
    padding-bottom: 30px;
}
#todo-list::-webkit-scrollbar {
    width:5px;
    background-color: rgba(50, 51, 51, 0.1);
}
#todo-list::-webkit-scrollbar-thumb {
    width:5px;
    background-color: rgba(91, 134, 229,0.5);
    border-radius: 4px;
}
.todo-item {
    margin-bottom:20px;
    font-family: 'Josefin Sans', sans-serif;
    display: felx;
    width:100%;
    padding:10px;
}
.todo-item .todo-title-container {
    color: #5B86E5;
    display:flex;
    cursor: pointer;
}
.todo-title-container .todo-title{
    width:80%;
    transition: all 1s;
}
.todo-title-container .todo-title:hover{
    text-decoration: underline;
}
.todo-title-container .checkbox {
    width:20%;
    text-align: center;
    text-decoration: none;
    color: #5B86E5;
}

.todo-item .todo-description {
    color: rgb(134, 153, 194);
    width:100%;
    text-indent: 30px;
    padding:10px;
    display: none;
}
.add-btn {
    width:17%;
    height:70px;
    background: rgb(77, 102, 243);
    color:white;
    text-decoration:none;
    text-align: center;
    font-size: 4rem;
    font-weight: 1000;
    position: relative;
    top:30px;
    left:40%;
    border-radius: 50%;
    transition: transform 0.28s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.2);
}
.add-btn:hover {
    transform: rotate(90deg);
}
.completed-title, .completed-title:hover{
    text-decoration: line-through !important;
}

.dialog{
    position: absolute;
    background-color:rgb(77, 102, 243,0.5);
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 10;
    display: none;
}
.dialog .dialog-container {
    width:40%;
    height:300px;
    background-color:white;
    margin:100px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.2);
    display: flex;
    flex-direction: column;
}

.dialog-container .dialog-header {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
}
.dialog-container .dialog-header h1{
    width:95%;
    padding:10px;
    color: #5B86E5;
}
.dialog-container .dialog-header a{
    width:5%;
    display:block;
    font-size: 1.5rem;
    color:rgba(0, 0, 0, 0.2);
}
.dialog-container .dialog-header a:hover{
    color:rgba(0, 0, 0, 0.5);
}
.dialog-content{
    display: flex;
    flex-direction: column;
    padding:20px;
}
.dialog-container input {
    margin-bottom:10px;
}
input[type="text"], textarea{
    border:1px solid rgba(0, 0, 0, 0.2);
    padding:10px;
    border-radius: 5px;
}
.dialog-content textarea{
    height:100px;
}
.btn {
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(77, 102, 243);
    color:white;
    font-size: 1.5rem;
    width:20%;
    text-align: center;     
    border-radius: 4px;
    padding:4px;
    margin-top:10px;
}